{% extends 'base.html.twig' %}

{% block title %}Hello That's the question!{% endblock %}
{% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="/build/app.css">
{% endblock %}
{% block body %}

<div>
    <h1>Hello dear english community</h1>
    {# {{ }} #}

</div>
{% endblock %}
