{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="/build/app.css">
    {% endblock %}
    <title>Hello</title></head>
<body>
<!-- ... -->
<div><h1>Hello english world</h1></div>
<div><img src="/images/toeic-alphabet.jpg" alt="image-alphabet-toeic"></div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}
</body>
</html>
